.hero{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.heroPhoto{
    padding-top: 20px;
    align-self: center;
    width: 70%;
}
.heroHeader{
    font-size: 2em;
    margin-bottom: 16px;
}
.heroText{
    font-size: 1em;
    margin-top: 0;
}
